.loginWrapper {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
  z-index: 0;
}

.loginWrapper {
  cursor: pointer;
}

.loginWrapper a {
  color: rgb(109, 153, 222);
  font-weight: 300;
  font-size: 23px;
}

.loginWrapper:hover {
  border-bottom: solid 2px rgb(114, 157, 226);
}
