.loginWrapper {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
  z-index: 10;
}

.loginWrapper {
  cursor: pointer;
}

.loginWrapper a {
  color: rgb(109, 153, 222);
  font-weight: 300;
  font-size: 23px;
}

.nameWrapper {
  width: 30px;
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: solid 1px rgb(114, 157, 226);
  color: white;
  background-color: rgb(114, 157, 226);
  /* padding: 5px 10px; */
  transition: all 0.1s ease-in-out;
}

.nameWrapper:hover {
  border: solid 1px white;
}
