.singlePostWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  width: 88%;
}

.singlePostHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
}

.singlePostPhoto {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.singlePostName {
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.singlePostTitle {
  display: inline-block;
  background-color: rgba(252, 254, 255, 0.728);
  max-width: 50%;
  min-width: 25%;
  font-size: 23px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 30px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 20px;
  overflow: auto;
}

.singlePostWrapper .likesShareRepost {
  word-spacing: 2px;
  margin-left: 20px;
  color: rgb(125, 125, 125);
  font-weight: 300;
  font-size: 20px;
}

.singlePostWrapper .postDate {
  margin-left: 20px;
  word-spacing: 2px;
  color: rgb(125, 125, 125);
  margin-bottom: 13px;
  font-size: 20px;
}
