.themeWrapper {
  position: absolute;
  top: 26px;
  margin-left: -100px;
  background: transparent;
}
.themeWrapper button {
  background: transparent;
  box-shadow: none;
}
.lnr-moon {
  color: rgb(14, 162, 253);
}

.lnr-sun {
  color: rgb(14, 162, 253);
}

@media (max-width: 793px) {
  .themeWrapper {
    top: 18px;
    right: 130px;
    z-index: 5;
  }

  .themeSwitch {
    font-size: 30px;
  }

  /* .lnr-moon,
  .lnr-sun {
    z-index: 6;
  } */
}
