.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-x: hidden;
  transform: all 1s ease;
}

@media (max-width: 793px) {
  .App {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
